http_interactions:
- request:
    method: GET
    uri: https://api.nhtsa.gov/SafetyRatings/modelyear/2022
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      x-amzn-requestid: 84c9858f-fb49-45b7-81b1-545e1df3d1bf
      x-amzn-remapped-connection: keep-alive
      x-amz-apigw-id: TSndjHzEIAMF3GQ=
      x-amzn-remapped-date: Fri, 31 Oct 2025 02:31:37 GMT
      x-application-context: application:production
    body:
      string: '{"Count":38,"Message":"Results returned successfully","Results":[{"ModelYear":2022,"Make":"ACURA","VehicleId":0},{"ModelYear":2022,"Make":"ALFA","VehicleId":0},{"ModelYear":2022,"Make":"AUDI","VehicleId":0},{"ModelYear":2022,"Make":"BENTLEY","VehicleId":0},{"ModelYear":2022,"Make":"BMW","VehicleId":0},{"ModelYear":2022,"Make":"BUICK","VehicleId":0},{"ModelYear":2022,"Make":"CADILLAC","VehicleId":0},{"ModelYear":2022,"Make":"CHEVROLET","VehicleId":0},{"ModelYear":2022,"Make":"CHRYSLER","VehicleId":0},{"ModelYear":2022,"Make":"DODGE","VehicleId":0},{"ModelYear":2022,"Make":"FIAT","VehicleId":0},{"ModelYea[...]
