http_interactions:
- request:
    method: GET
    uri: https://api.nhtsa.gov/products/vehicle/modelYears?issueType=r
  response:
    status: 200
    headers:
      content-type: application/json;charset=UTF-8
      x-amzn-requestid: 7d63ce67-0835-4f71-b0b8-ff385ce67d5d
      x-amzn-remapped-connection: keep-alive
      x-amz-apigw-id: TSndrEgiIAMF3jw=
      x-amzn-remapped-date: Fri, 31 Oct 2025 02:31:38 GMT
      x-application-context: application:production
    body:
      string: '{"count":80,"message":"Results returned successfully","results":[{"modelYear":"1949"},{"modelYear":"1950"},{"modelYear":"1951"},{"modelYear":"1952"},{"modelYear":"1953"},{"modelYear":"1954"},{"modelYear":"1955"},{"modelYear":"1956"},{"modelYear":"1957"},{"modelYear":"1958"},{"modelYear":"1959"},{"modelYear":"1960"},{"modelYear":"1961"},{"modelYear":"1962"},{"modelYear":"1963"},{"modelYear":"1964"},{"modelYear":"1965"},{"modelYear":"1966"},{"modelYear":"1967"},{"modelYear":"1968"},{"modelYear":"1969"},{"modelYear":"1970"},{"modelYear":"1971"},{"modelYear":"1972"},{"modelYe[...]
