http_interactions:
- request:
    method: GET
    uri: https://api.nhtsa.gov/products/vehicle/makes?modelYear=2022&issueType=r
  response:
    status: 200
    headers:
      content-type: application/json;charset=UTF-8
      x-amzn-requestid: 15a276f6-2bb1-4a92-800e-bc240beb6581
      x-amzn-remapped-connection: keep-alive
      x-amz-apigw-id: TSndyHsVIAMFrhQ=
      x-amzn-remapped-date: Fri, 31 Oct 2025 02:31:39 GMT
      x-application-context: application:production
    body:
      string: '{"count":306,"message":"Results returned successfully","results":[{"modelYear":"2022","make":"4
        STAR"},{"modelYear":"2022","make":"ABS REMORQUES"},{"modelYear":"2022","make":"ACURA"},{"modelYear":"2022","make":"ADAM"},{"modelYear":"2022","make":"AIRSTREAM"},{"modelYear":"2022","make":"ALAMO
        GROUP"},{"modelYear":"2022","make":"ALEXIS FIRE EQUIPMENT"},{"modelYear":"2022","make":"ALFA
        ROMEO"},{"modelYear":"2022","make":"ALLIANCE RV"},{"modelYear":"2022","make":"ALTEC"},{"modelYear":"2022","make":"AMERICAN
        COACH"},{"modelYear":"2022","make":"ARCIMOTO"},{"mode[...]
