http_interactions:
- request:
    method: GET
    uri: https://api.nhtsa.gov/products/vehicle/makes?modelYear=2022&issueType=c
  response:
    status: 200
    headers:
      content-type: application/json;charset=UTF-8
      x-amzn-requestid: c6679d3b-dd8d-46b7-a18e-383c40525433
      x-amzn-remapped-connection: keep-alive
      x-amz-apigw-id: TSndUFY0IAMFb_w=
      x-amzn-remapped-date: Fri, 31 Oct 2025 02:31:36 GMT
      x-application-context: application:production
    body:
      string: '{"count":135,"message":"Results returned successfully","results":[{"modelYear":"2022","make":"ACURA"},{"modelYear":"2022","make":"AIRSTREAM"},{"modelYear":"2022","make":"ALFA
        ROMEO"},{"modelYear":"2022","make":"ALLIANCE RV"},{"modelYear":"2022","make":"AMERICAN
        HAULER"},{"modelYear":"2022","make":"APRILIA"},{"modelYear":"2022","make":"ATRO"},{"modelYear":"2022","make":"AUDI"},{"modelYear":"2022","make":"BAODIAO"},{"modelYear":"2022","make":"BLACK
        SERIES CAMPERS"},{"modelYear":"2022","make":"BLUE BIRD"},{"modelYear":"2022","make":"BMW"},{"modelYear":"2022","make":[...]
